extends ../base.pug

block variables
  - var template = 'collections'

block content
   main.collections
    .collections__wrapper
      each collection, index in collections
        .collection__bg-titles
          span.collection__bg-titles__order=`Collection ${index == 0 ? "One" : index == 1 ? "Two" : index == 2 ? "Three" : "Four"}`
          p.collection__bg-titles__title=collection.data.title

      each collection in collections
        .collection__info
          h2.collection__title=`${collection.data.title} Collection`
          p.collection__description=collection.data.description
        
        
      each collection in collections
        each product in collection.data.products
          .collections__gallery 
            .collections__gallery__wrapper     
                a.collection__product(href=`/jewel/${product.product.slug}`)
                  figure.collection__product__image
                    img.collection__product__image__image(src=product.product.data.product_image.url alt=product.product.data.product_image.alt)